<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de Gasto </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="selectedExpense">
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <p><strong>Fecha:</strong> {{ selectedExpense.expenseDate }}</p>
          </ion-col>
          <ion-col size="6">
            <p><strong>Descripción:</strong> {{ selectedExpense.description }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p><strong>Kilómetros:</strong> {{ selectedExpense.kilometer || 'No especificado' }}</p>
          </ion-col>
          <ion-col size="6">
            <p><strong>Monto Bs:</strong> {{ selectedExpense.amount || 'No especificado' }}</p>
          </ion-col>
                    <ion-col size="6">
            <p><strong>Monto $:</strong> {{ selectedExpense.amountDl || 'No especificado' }}</p>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
    <ion-button expand="block" id="button-eliminar" (click)="confirmarEliminacion()" >
      Eliminar gasto
    </ion-button>
</ion-content>

<ion-alert
  [isOpen]="showAlert"
  header="Confirmar eliminación"
  message="¿Seguro que quieres eliminar este gasto?"
  [buttons]="alertButtons">
</ion-alert>