<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openWorkshopModal()">Ver Talleres</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="openWorkshopModal()">
    <ion-label>Talleres</ion-label>
  </ion-item>
  <ion-item button (click)="openCategoriashopModal()">
    <ion-label>Categorías</ion-label>
  </ion-item>
</ion-content>
