<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Subcategoría a {{ categoriaName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()" [formGroup]="formAddSubCategoria">
    
    <ion-item>
      <ion-label position="floating">Nombre de la Subcategoría</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar Categoría</ion-label>
        <ion-select formControlName="expense_category_id" (ionChange)="onCategoriaChange($event)">
          <ion-select-option *ngFor="let categoria of categoriasDisponibles" [value]="categoria.id">
            {{ categoria.name }}
          </ion-select-option>
        </ion-select>
    </ion-item>

    <div class="button-group">
      <ion-button expand="full" type="submit" [disabled]="formAddSubCategoria.invalid">
        Agregar Subcategoría
      </ion-button>

      <ion-button expand="full" (click)="closeModal()">
        Cancelar
      </ion-button>
    </div>
    
  </form>
</ion-content>