<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModalAgregar()">
        <ion-icon name="add-circle"></ion-icon> Agregar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vehículos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Listado de vehículos -->
  <ion-list>
    <ion-item *ngFor="let vehiculo of vehiculos" (click)="openVeiculosDetails(vehiculo)">
      <ion-label>
        <h2>Unidad: {{ vehiculo.numberId }}</h2>
        <p>{{ vehiculo.marca }} {{ vehiculo.model }}</p>
        <p>Placa: {{ vehiculo.serial }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarVehiculo(vehiculo)">
        <ion-icon name="trash"></ion-icon> Eliminar
      </ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>